html,body {
  margin: 0;
  padding:  0;
  font-family: 'Trebuchet MS', Arial ,sans-serif;

}

.app {
  display: flex;
}

/*----- Nav -----*/

nav {
  height: 100vh;
  background-color: rgb(10,43,63);
  color: rgb(4,55,25);
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

nav .logo-container,
nav .controls-container{
  padding: 40px 25px;
  display: flex;
  flex-direction: column;
}

nav .logo-container img{
  width: 20px;
}

nav .icon {
  color: rgb(255,255,255);
}

/*----- Dashboard -----*/
.dashboard {

  padding: 30px;
  width: 100%;
}

.dashboard .ticket-container{
  height: 88vh;
  overflow: scroll;
}

/*----- TicketCard -----*/

.ticket-card {
  display: flex;
  width: 100%;
}

.ticket-card #link {
  display: flex;
  width: 100%;
}


.ticket-card #link > * {
  background-color: rgb(221,221,221);
  margin: 2px;
  padding: 30px;
  width: 100%;
  display: flex;
  align-items: center;
}

.ticket-card .ticket-colour {
  width: 15px !important;
  margin: 2px;
}